# dependencies
**/node_modules/
**/.pnp/
**/.pnp.js

# testing
**/coverage/
**/.vscode/*
!**/.vscode/launch.json
!**/.vscode/tasks.json

# production
**/build
**/dist

# OS
**/.DS_Store

# environment
**/.env
**/.env.*

# log files
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# temp directory
**/.temp
**/.tmp

# Tests
/coverage
**/.nyc_output

# Runtime data
**/pids
**/*.pid
**/*.seed
**/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/*.prettierrc
